<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container body-content">    <meta charset="UTF-8">
<div align="center">
    <title>List Entries By Topic</title>
    <nav th:replace="fragments :: page-header"></nav>
    <h1> List Entries By Topic </h1>
    <br/>
    <table border="1" cellpadding="10">
        <thead class="">
        <tr>
            <th>Topic Name</th>
            <th>Entries</th>
        </tr>
        </thead>
        <div th:if="${message}" th:text="${message}"></div>
        <tbody>
        <th:block th:each="topic: ${topics}">
            <tr>
                <td>
                    <a th:href="@{'/topics/show/' +${topic.id}}" th:text="${topic.name}"></a>
                </td>
                <td>
                    <th:block th:if="${not topic.entries.empty}">
                        <ul>
                            <li th:each="entry : ${topic.entries}">
                                <a th:href="@{'/entries/show/' + ${entry.id}}" th:text="${entry.title}"></a>
                            </li>
                        </ul>
                    </th:block>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>


