<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="container">
  <div>
    <h1>Edit Mood</h1>
  </div>
  <div>
    <form th:action="@{/entries/edit/{id}(id=${entry.id})}" method="post" style="max-width:600px;">
      <div class="form-group">
        <label th:for="name">Entry Title</label>
        <input class="form-control" th:value="${entry.title}" name="title" />
        <span th:errors="${entry.title}" class="error"></span>
      </div>


  <div class="form-group">
    <label th:for="entry">What would you like to write about?</label>
    <textarea class="form-control" rows="20" cols="100" th:field="${entry.journalEntry}" name="journalEntry" />
    <span th:errors="${entry.journalEntry}" class="error"></span>
  </div>

  <input class="btn-primary" type="submit" value="Edit Entry" />
</form>
    </div>
</div>
</body>
</html>