<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<script>
        function displayEntryDetails() {
            console.log("test test");
            var selectedEntryId = document.getElementById("selectEntry").value;
            if (selectedEntryId) {
                // Load mood details from the "entries/show" endpoint
                fetch("/entries/show/" + selectedEntryId)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById("entryDetails").innerHTML = data;
                });
            }
        }
    </script>
<body>
<meta charset="UTF-8">
<nav th:replace="fragments :: page-header"></nav>

<div class="table-container">

    <h1> List Entries </h1>
    <br/>

    <label for="selectEntry">Select Entry:</label>
    <select id="selectEntry">
        <option value="" disabled selected>Select a Entry</option>
        <th:block th:each="entry: ${listEntry}">
            <option th:value="${entry.id}" th:text="${entry.title}"></option>
        </th:block>
    </select>
    <button onclick="displayEntryDetails()">Display Details</button>

    <div id="entryDetails"></div>
</div>

</body>
</html>