<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>
<p th:unless="${moods} and ${moods.size()}">no Moods yet, why don't ya make one ?!</p>

<div class="container body-content">
    <h2>Moods</h2>
    <ul>
        <li th:each="mood : ${moods}">
            <a th:href="@{'/moods/view/' + ${mood.id}}" th:text="${mood.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/moods/add'}">Add Mood</a>


</div>
</center>
</body>
</html>