<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <script>
        function displayMoodDetails() {
            var selectedMoodId = document.getElementById("selectMood").value;
            if (selectedMoodId) {
                // Load mood details from the "moods/show" endpoint
                fetch("/moods/show/" + selectedMoodId)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById("moodDetails").innerHTML = data;
                });
            }
        }
    </script>
<body>
    <meta charset="UTF-8">
    <nav th:replace="fragments :: page-header"></nav>

    <div class="table-container">

        <h1> List Mood </h1>
        <br/>

        <label for="selectMood">Select Mood:</label>
        <select id="selectMood">
            <option value="" disabled selected>Select a Mood</option>
            <th:block th:each="mood: ${listMood}">
                <option th:value="${mood.id}" th:text="${mood.name}"></option>
            </th:block>
        </select>
        <button onclick="displayMoodDetails()">Display Details</button>

        <div id="moodDetails"></div>
    </div>
</body>
</html>