<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: page-header"></div>
<div class="mood-container">
    <div class="mood-card">
        <div class="mood-name">
            <h1 class="entry-title" th:text="${'Mood Name: ' + mood.name}"></h1>
        </div>
        <div class="mood-meaning">
            <p class="mood-meaning" th:text="${'Meaning: ' + mood.meaning}"></p>
        </div>
        <div>
            <a th:href="@{/}">Back to Home</a>
        </div>
    </div>
</div>
</body>
</html>