<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<div th:replace="fragments :: page-header"></div>
<center>
<h1>Add Topic</h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Topic Name</label>
        <input class="form-control" th:field="${topic.name}" />
        <span th:errors="${topic.name}" class="error"></span>
    </div>

    <input type="submit" value="Add Topic" />
</form>
</center>
</body>
</html>