*
{
    padding: 0;
    margin: 0;
}


body {
    background-color: #FFD3F3;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    padding: 50px;
    margin-top: 35px;
}

.menu-bar
{
   display: inline-block;
    width: 100%;
    font-family: 'Merriweather';
    background-color: #FFAFE9;
    font-weight: bold;
}

.icon {
  width: 24px;
  height: 24px;
}



.navbar {
  background-color: #FFAFE9;
  border-bottom: 3px solid white;
  display: flex;
  flex-direction: row;
}



.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-content {
    display: flex;
    align-items: center;
}
.navbar-brand-container
{
    width: 120px;
    padding: 0px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: center;
}
.navbar-brand
{
    font-size: 22px;
    font-family: 'Brush Script MT', cursive;
}
.nav-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar-nav .stacked-nav-item {
   display: inline-block;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #282828;
}

.navbar-nav .dropdown-menu {
  background-color: #FFE8F9;
}

.navbar-nav .dropdown-item {
  color: black;
}

.navbar-nav .dropdown-item:hover {
  background-color: #fff2f4;
  color: #282828;
}

.form-inline .form-control {
  width: 150px;
}

/* Dropdown styles */
.navbar-nav .nav-item.dropdown {
  position: relative;
}

.navbar-nav .nav-item .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 200px;
  padding: 10px 0;
  border-radius: 5px;
  z-index: 1000;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav .dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.navbar-nav .dropdown-menu li {
  padding: 5px 20px;
}

.navbar-nav .dropdown-menu li:hover {
  background-color: #FFAFE9;
}

.navbar-nav .dropdown-menu a {
  text-decoration: none;
  color: black;
}


/* Entry card styles */
.entry-heading {
  background-color: gray;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.entry-table {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.entry {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}

.entry-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.entry-body {
  font-size: 16px;
}

/* Responsive Navbar */
@media (max-width: 991.98px) {
  .navbar .navbar-toggler {
    display: block;
  }

  .navbar .navbar-collapse {
    display: none;
  }

  .navbar .navbar-collapse.show {
    display: flex;
  }
}
