*
{
    padding: 0;
    margin: 0;
}
.menu-item
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.header
{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   border-bottom: 6px solid white;
}
body
{
    background-color: #FFD3F3;
    box-sizing: border-box;
    font-family: sans-sarif;
    padding: 50px;
}
.menu-bar
{
    font-family: 'Merriweather';
    background-color: #FFAFE9;
    text-align: center;
    font-weight: bold;
}
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li
{
    display: block;
    width: 100px;
    margin: 8px;
    padding: 5px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: black;
}
.menu-bar ul li:hover
{
    background: #FFEBF3;
}
.active, .menu-bar ul li:hover
{
    background: #FFE8F9;
    border-radius: 3px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: #FFE8F9;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul:hover
{
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 120px;
    padding: 10px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover
{
    background-color: #fff2f4;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    background-color: #fff2f4;
    color: black;
}
.sub-menu-2
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-2
{
    display: block;
    position: absolute;
    background: #FFE8F9;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-2 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-2 ul:hover
{
}
.menu-bar ul li:hover .sub-menu-2 ul li
{
    width: 120px;
    padding: 10px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-2 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-2 ul li:hover
{
    background-color: #fff2f4;
    color: black;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover
{
    color: black;
}
.sub-menu-3
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-3
{
    display: block;
    position: absolute;
    background: #FFE8F9;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-3 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-3 ul li
{
    width: 120px;
    padding: 10px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-3 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-3 ul li:hover
{
    background-color: #fff2f4;
    color: black;
}
.menu-bar ul li:hover .sub-menu-3 ul li a:hover
{
    color: black;
}
.navbar-brand-container
{
    width: 120px;
    padding: 0px;
    border-bottom: 1px;
    background: transparent;
    border-radius: 0;
    text-align: center;
}
.navbar-brand
{
    font-size: 22px;
    font-family: 'Brush Script MT', cursive;
}
.login
{
    max-width: 500px;
    padding: 10px;
    background-color: white;
}
h1
{
    font-family: 'Merriweather';
    font-size: 26px;
    margin-top: 80px;
    padding: 25px;
}
h2{
    font-family: 'Merriweather';
    font-size: 26px;
    margin-top: 80px;
    padding: 25px;
}
form
{
    align: center;
}
.field
{
    max-width: 500px;
    background-color: white;
}
.form-group
{
    max-width: 500px;
    padding: 10px;
    background-color: white;
    border-radius: 20%:
    box-shadow: 10px 5px 5px red;
}
.form-control
{
    max-width: 460px;
}
.table {
    border-collapse: collapse;
    width: 75%;
    margin-left:50px;
    margin-right:50px;
}
.table td {
    padding: 10px;
}
.table tr:nth-child(even) {
    background-color: white;
}
.table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.menu-bar .search
{
    font-size: 12px;
    color: black;
    display: flex;
    width: 200px;
    margin: 8px;
    padding: 5px;
}
.menu-bar .search-form
{
    align: right;
}
.menu-bar .search-container
{

}
footer
{
    background-color: black;
    position: bottom;
}
.icon
{
    position: bottom;
    padding: 2px;
}
.centeredTable
{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* add box shadow */
    border-collapse: collapse; /* remove borders */
    width: 50%;
}
.centeredTable tr th
{
   background-color: black; /* black background */
   color: white; /* white text */
   font-weight: bold;
   padding: 10px;
   text-align: left;
}
.centeredTable tr td:nth-child(even)
{
   background-color: #f2f2f2; /* light gray background */
}
.centeredTable tr td:nth-child(odd)
{
   background-color: white; /* white background */
}
.centeredTable td
{
   padding: 10px;
   border: none; /* remove borders */
}
.entry-table
{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); /* add box shadow */
    padding: 0px;
    width: 60%
}
.entry-table tr
{
    padding: 20px;
}
.entry-table tr:nth-child(even)
{
    background-color: white;
}
.entry-table tr:nth-child(odd)
{
    background-color: #f2f2f2;
}

.entry-table .entry-name
{
}
.entry-table .entry-name a
{
}
.entry-table .entry-topic
{
}
.entry-table .entry-body
{
    padding: 20px;
    font-family: Garamond, serif;
}
.no-bullets-list
{
    list-style-type: none;
}
@media (max-width: 601px) {
    .form-group
    {
        max-width: 500px;
        padding: 10px;
        background-color: white;
        border-radius: 20%:
        box-shadow: 10px 5px 5px red;
    }
    .field
    {
        max-width: 500px;
        background-color: white;
        padding: 5px;
    }
    .form-control
    {
        max-width: 460px;
        height: 46px;
        font-size: 16px;
    }
    .btn-primary {
        height: 40px;
        width: 60px;
        font-size: 16px;
    }
}