*
{
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFD3F3;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    padding: 10px;
    text-align: center;
}

header {
  background-color: #FFAFE9;
  border-bottom: 3px solid white;
  padding: 10px;
}

.navbar {
  background-color: #FFAFE9;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 75px auto;
  align-items: center;
  border-bottom: 6px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  border-bottom: 3px solid #000;
}

.navbar .search {
  grid-column: 1/6;
  grid-row: 2;
  padding-right: 10px;
  padding-top: 10px;
  line-height: 30px;
}

.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .icon {
  height: 36px;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-family: 'Sacramento', cursive;
  font-size: 32px;
}

.navbar .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navbar .login a {
  margin-top: 5px;
}

.navbar i {
  font-size: 24px;
  margin-right: 10px;
}

.navbar a:hover i {
  color: #000;
}

.navbar a:hover span {
  color: #000;
}

.navbar span {
}

/* Dropdown */

.dropdown-add {
  position: relative;
}

.dropdown-add .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-add:hover .dropdown-content {
  position: block;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-add .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-add .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-edit {
  position: relative;
}

.dropdown-edit .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 2;
}

.dropdown-edit:hover .dropdown-content {
  position: block;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 2;
}

.dropdown-edit .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-edit .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-analyze {
  position: relative;
}

.dropdown-analyze .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 3;
}

.dropdown-analyze:hover .dropdown-content {
  position: block;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 3;
}

.dropdown-analyze .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-analyze .dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Misc */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Entry card styles */
.heading-container {
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

.entry-heading {
  background-color: #D3D3D3;
  font-size: 24px;
  font-weight: bold;
  margin-top:10px;
  margin-bottom: 10px;
}

.entry-table {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

.entry {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}

.entry-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.entry-body {
  font-size: 16px;
  padding: 5px;
  border-bottom: 8px solid #FFD3F3;
}

.form-input {
    width: 80%;
}

.btn-primary {
    background-color: black;
    color: white;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    font-size: 16px;
    border: 2px solid white
}

/* Responsive Navbar */
@media screen and (max-width: 920px) {
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.navbar .icon {
  height: 24px;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-family: 'Sacramento', cursive;
  font-size: 18px;
  align-text: center;
}
}

@media screen and (max-width: 767px) {

.navbar {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.dropdown-icon, .dropdown-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-group {
  display: inline-block;
  margin-right: 10px;
}
.search-form-control {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
.search-type {

}

.search .btn-primary {
  display: inline-block;
}
.search label {
   display: block;
   margin-bottom: 5px;
}
ul {
  list-style-type: none;
}
.form-group
{
   padding: 10px;
   border-radius: 20%:
   box-shadow: 10px 5px 5px red;
}
.field
{
    max-width: 500px;
    padding: 5px;
}
.form-control
{
    max-width: 80%;
    height: 46px;
    font-size: 16px;
}

.dropdown-analyze .dropdown-content {
    left: -50px;
}
.dropdown {
    position: relative;
}
.dropdown a {
    display: block;
 }
.dropdown span {
    font-size: 16px;
}
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    display: none;
    padding: 0;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
}
.dropdown-content a:last-child {
    border-bottom: none;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    }
}

@media screen and (min-width: 768px) {

  .navbar a {
    padding: 0 10px;
    position: relative;
  }

  .navbar span {
    display: inline-block;
    margin-left: 5px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}


/* Add Entry Page */

.add-form {
    padding: 12px 20px;
    box-sizing: border-box;
}


.add-form .form-group{

}

.add-form-control {
    width: 80%;
    margin-right: 5px;
}

.add-form-title-group{

}

.add-title{

}


@media screen and (max-width: 767px) {

   .dropdown-add,
     .dropdown-edit,
     .dropdown-analyze {
       position: relative;
     }

  .dropdown a {
    display: block;
  }

   .dropdown-add:hover .dropdown-content,
    .dropdown-edit:hover .dropdown-content,
    .dropdown-analyze:hover .dropdown-content {
      display: block;
    }

 .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    display: none;
    padding: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
  }

  .dropdown-content a:last-child {
    border-bottom: none;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
}

@media screen and (max-width: 650px) {
    .navbar .login a {
      margin-top: 5px;
      margin-left: 5px;
      font-size: 14px;
      padding: 0px;
    }

  .logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .logo-icon {
      margin-top: 10px;
    }

    .navbar-brand {
      font-weight: bold;
      font-family: 'Sacramento', cursive;
      font-size: 10px;
    }
  }

@media screen and (max-width: 450px) {
    .navbar .search {
        grid-row: 2;
        padding: 0;
        margin: 0;
        display: flex;
    }

    .navbar .search .form-group {
        display: flex;
        margin-right: 5px;
    }

    .navbar .search .form-control {
        display: inline-block;
        width: 80%;
        margin-right: 5px;
    }

    .navbar .search .btn-primary {
        width: 100px;
        margin-top: 1rem;
        padding: 5px;

    }

    .navbar .search label {
        display: none;
    }
}


