<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/journal.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title th:text="'Dream-Z' + ${title == null ? '' : ' :: ' + title}">Dream-Z</title>
</head>

<body>
<div th:fragment="page-header" class="header">
    <!-- begin drop down buttons-->
    <div class="menu-bar">
        <ul>
            <li class="navbar-brand-container"><a th:href="@{/}" class="navbar-brand"><img class="icon" src="/img/cloud-line.png"/>
                <br/>Dream-Z</a></li>
            <div>
                <li><a th:href="@{/login}" class="menu-item">Login</a></li>
                <li><a th:href="@{/logout}" class="menu-item">Logout</a></li>
            </div>
                <li><a href="#"><img class="icon" src="/img/moon-cloudy-fill.png"><br/>Add</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a th:href="@{/entries/add}">Add Entry</a></li>
                        <li><a th:href="@{/topics/add}">Add Topic</a></li>
                        <li><a th:href="@{/moods/add}">Add Mood</a></li>
                    </ul>
                </div>
                </li>
                <li><a href="#"><img class="icon" src="/img/moon-cloudy-line.png"/><br/>Edit</a>
                <div class="sub-menu-2">
                    <ul>
                        <li><a th:href="@{/entries/list}">Edit Entry</a></li>
                        <li><a th:href="@{/topics/list}">Edit Topic</a></li>
                        <li><a th:href="@{/moods/list}">Edit Mood</a></li>
                    </ul>
                </div>
                </li>
                <li><a href="#"><img class="icon" src="/img/cloud-windy-line.png"/><br/>Analysis</a>
                <div class="sub-menu-3">
                    <ul>
                        <li><a th:href="@{/wordcloud}">WordCloud</a></li>
                        <li><a th:href="@{/analysis}">Analyze</a></li>
                        <li><a th:href="@{/list-topics}">View by Topic</a></li>
                        <li><a th:href="@{/list-moods}">View by Mood</a></li>
                    </ul>
                </div>
            </li>
            <li class=".menu-bar search">
                <form class=".menu-bar search-form" th:action="@{/index/results}" method = "post">
                    <p class=".menu-bar search-container">
<!--                        <input-->
<!--                                type="radio"-->
<!--                                name="searchType"-->
<!--                                id="all"-->
<!--                                value="all"-->
<!--                                checked="true"/>-->

<!--                        <label for="all">all</label>-->
                        <input
                                type="radio"
                                name="searchType"
                                id="title"
                                value="title"/>
                        <label for="title">title</label>
                        <input
                                type="radio"
                                name="searchType"
                                id="topic"
                                value="topic"/>
                        <label for="topic">topic</label>
                        <input
                                type="radio"
                                name="searchType"
                                id="mood"
                                value="mood"/>
                        <label for="mood">mood</label>
                    </p>
                    <label for="searchTerm"></label>
                    <input type="text" name="searchTerm" id="searchTerm" />
                    <br />
                    <input type="submit" value="Search" />
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
