<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/journal.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'/>
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title th:text="'Dream-Z' + ${title == null ? '' : ' :: ' + title}">Dream-Z</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="navbar-body">
<nav th:fragment="page-header" class="navbar">
    <div class="navbar-container">
        <div class="navbar-toprow">
    <!-- logo -->
    <div class="logo">
        <div class="logo-icon">
            <img class="icon" src="/img/cloud-line.png" alt="Logo" />
        </div>
        <div class="logo-text">
            <a class="navbar-brand" th:href="@{/}">Dream-Z </a>
        </div>
    </div>
    <!-- login and logout -->
<!--    <div class="login">-->
<!--        <a class="nav-link stacked-nav-link" th:href="@{/login}">Login</a>-->
<!--        <a class="nav-link stacked-nav-link" th:href="@{/logout}">Logout</a>-->
<!--        <a class="nav-link stacked-nav-link" th:href="@{/loginAnonymous}">Demo</a>-->
<!--    </div>-->
    <!-- begin drop down buttons -->

    <!-- Add -->
    <div class="dropdown dropdown-add">
        <a href="#">
            <div class="dropdown-icon">
                <img class="icon" src="/img/cloud-windy-line.png" alt="Add Button" />
            </div>
            <div class="dropdown-text">
                <span>Add</span>
            </div>
        </a>
        <div class="dropdown-content">
            <a th:href="@{/entries/add}">Add Entry</a>
            <a th:href="@{/topics/add}">Add Topic</a>
            <a th:href="@{/moods/add}">Add Mood</a>
        </div>
    </div>
    <!-- Edit -->
    <div class="dropdown dropdown-edit">
        <a href="#">
            <div class="dropdown-icon">
                <img class="icon" src="/img/moon-cloudy-fill.png" alt="Edit Button" />
            </div>
            <div class="dropdown-text">
                <span>Edit</span>
            </div>
        </a>
        <div class="dropdown-content">
            <a th:href="@{/entries/list}">Edit Entry</a>
            <a th:href="@{/topics/list}">Edit Topic</a>
            <a th:href="@{/moods/list}">Edit Mood</a>
        </div>
    </div>
    <!-- Analyze -->
    <div class="dropdown dropdown-analyze">
        <a href="#">
            <div class="dropdown-icon">
                <img class="icon" src="/img/moon-cloudy-line.png" alt="Analyze Button" />
            </div>
            <div class="dropdown-text">
                <span>Analyze</span>
            </div>
        </a>
        <div class="dropdown-content">
            <a th:href="@{/wordcloud}">Wordcloud</a>
            <a th:href="@{/analysis}">Language Tools</a>
            <a th:href="@{/list-topics}">View by Topic</a>
            <a th:href="@{/list-moods}">View by Mood</a>
        </div>
    </div>
        </div>
    <!-- search bar -->
        <div class="navbar-row2">
            <div class="search-container">
                    <form class="search" th:action="@{/index/results}" method="post">
                            <label for="searchType">Search by:</label>
                            <select class="search-form-control" id="searchType" name="searchType">
                                <option value="title" selected>Title</option>
                                <option value="topic">Topic</option>
                                <option value="mood">Mood</option>
                            </select>
                            <label for="searchTerm" class="search-type">Search</label>
                            <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="Search"/>
                            <button type="submit" class="btn btn-primary ml-2">Search</button>
                    </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
