<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>
    <div>
        <h2 class="entry-heading">Journal Entries</h2>
    </div>

<table class="entry-table">
    <tbody class="table-body">
        <tr class="entry-main" th:each="entry : ${entries}">
            <td class="entry-body">
                <p class="entry-title">
                    Name:
                    <a th:href="@{'/view/' + ${entry.id}}" th:text="${entry.title}"></a>
                </p>
                <p class="entry-title">
                    Topic:
                    <a th:href="@{'/topics/show/' + ${entry.topic.id}}" th:text="${entry.topic}"></a>
                </p>
                <p class="entry-title" th:text="${'Mood: ' + entry.mood}"></p>
                <br />
                <p class="entry-text" th:text="${entry.journalEntry}">
                </p>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>