<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>    <meta charset="UTF-8">
<div>
    <title>List Entries By Mood</title>
    <nav th:replace="fragments :: page-header"></nav>
    <h1> List Entries By Mood </h1>
    <br/>
    <table class="entry-table">
        <thead class="heading-container">
        <tr>
            <th class="entry-heading">Mood Name</th>
            <th class="entry-heading">Entries</th>
        </tr>
        </thead>
        <div th:if="${message}" th:text="${message}"></div>
        <tbody class="entry">
        <th:block th:each="mood: ${moods}">
            <tr>
                <td>
                    <a th:href="@{'/moods/show/' +${mood.id}}" th:text="${mood.name}"></a>
                </td>
                <td>
                    <th:block th:if="${not mood.entries.empty}">
                        <ul>
                            <li class="no-bullets-list" th:each="entry : ${mood.entries}">
                                <a th:href="@{'/entries/show/' + ${entry.id}}" th:text="${entry.title}"></a>
                            </li>
                        </ul>
                    </th:block>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

</body>
</html>


