<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: page-header"></nav>
<div class="entry-table">
    <div class="entry-title">
        <p th:text="${'Title: ' + entry.title}"></p>
    </div>
    <div>
        <div>
            <p class="entry-title"> Topic:
                <a th:href="@{'/topics/show/' + ${entry.topic.id}}" th:text="${entry.topic}"></a>
            </p>
        </div>
        <div>
            <p class="entry-title">
            Mood:
                <a th:href="@{'/moods/show/' + ${entry.mood.id}}" th:text="${entry.mood}"></a>
            </p>
        </div>
        <div class="entry">
            <p th:text="${'Journal Entry: ' + entry.journalEntry}"></p>
        </div>
    </div>
</div>

</body>
</html>

