<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: page-header"></div>
<h1>Edit Topic</h1>
<div class="container">
<form th:action="@{/topics/edit/{id}(id=${topic.id})}" method="post" style="max-width:600px;">
  <div class="form-group">
    <label th:for="name">Topic Name</label>
    <input class="form-control" th:value="${topic.name}" name="name" />
    <span th:errors="${topic.name}" class="error"></span>
  </div>

  <input type="submit" value="Edit Topic" />
</form>
</div>
</body>
</html>