<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<script>
        function displayTopicDetails() {
            var selectedTopicId = document.getElementById("selectTopic").value;
            if (selectedTopicId) {
                // Load mood details from the "topics/show" endpoint
                fetch("/topics/show/" + selectedTopicId)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById("topicDetails").innerHTML = data;
                });
            }
        }
    </script>
<body>
<meta charset="UTF-8">
<nav th:replace="fragments :: page-header"></nav>

    <div class="table-container">

        <h1> List Topic </h1>
        <br/>

        <label for="selectTopic">Select Topic:</label>
        <select id="selectTopic">
            <option value="" disabled selected>Select a Topic</option>
            <th:block th:each="topic: ${listTopic}">
                <option th:value="${topic.id}" th:text="${topic.name}"></option>
            </th:block>
        </select>
        <button onclick="displayTopicDetails()">Display Details</button>

        <div id="topicDetails"></div>
    </div>

</body>
</html>