<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>
<div class="entry-table">
    <div>
        <h1 class="entry-title" th:text="${'Topic Name: ' + topic.name}"></h1>
    </div>
    <div>
        <p class="entry-title" th:text="${'Topic ID: ' + topic.id}"></p>
    </div>
    <div>
        <a class="entry-title" th:href="@{/topics/list}">List All Topics</a>
    </div>
        <br>
    <div>
        <a th:href="@{/}">Back to Home</a>
    </div>
</div>
</body>
</html>


